<!DOCTYPE html>
<html>
<head>
    <title>Microservices App</title>
</head>
<body>
    <h1>Items</h1>
    <ul>
        <% items.forEach(item => { %>
            <li><%= item.name %></li>
        <% }) %>
    </ul>
</body>
</html>

